{% extends 'base.html' %}
{% load static %}
{% block title %} Bosh sahifa {% endblock title %}
{% block content %}
<br/>
<div class="jumbotron">
    <h1 class="display-4">Assalomu alaykum {{ user.username | title }}</h1>
    <p class="lead">O'zbekistondagi eng katta online noutbook do'koni - Nout.Uz ga xush kelibsiz</p>
    <hr class="my-4">
    <p>Bu yerda istalgan turdagi noutbooklarni xarid qilishingiz.Bizda hammasi sifatli va ishonchli</p>
    <p class="lead">
         {% if user.is_authenticated %}

   <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Postlarni ko'rish</a>
        {% endif %}
    </p>
</div>
{% endblock content %}

